/* шрифт */
@font-face {
	font-family: 'Roboto'; 
	src: url(/ttf/Roboto.ttf); 
}
/*  */
:root {
    --main-color: rgb(0,0,0);
    --dop-color: rgb(255,255,255);
    --dop-color-rgba: rgba(0,0,0,0.65);
    --dop-bg-color-darck:rgb(245,195,0);
    --dop-bg-color: rgb(246,216,70);
    --main-bg-color: rgb(237,236,234);
    --main-text-weight: 600 ;
    --main-border:2px solid rgba(59, 59, 59 , 0.65);
  }
/* Весь центр */
body{
    min-width: 860px ;
    margin: 0px ;
    overflow-x: hidden ;
    background-color: var(--main-bg-color);
    font-family: 'Roboto';
    color: var(--dop-color-rgba) ;
    font-size: 15px ;
}
/* Шапка */
header{
    width: 100% ;
    height: 100px ;
    margin-bottom: 10px ;
    color: var(--dop-color-rgba);
    font-weight: 600;
    font-size: 2.6em ;
    text-transform: uppercase;
    display: flex ;
    align-items: center ;
    justify-content: center ;

}

.center{
    display: flex ;
    width: 100% ;
    height: auto ;
}

#left{
    width: 240px ;
    min-height: 700px ;
    margin-left: 15px ;
    display: flex ;
    flex-direction: column ;
}
.app_menu{
    min-width: 240px ;
    font-weight: 600 ;
    margin-bottom: 20px ;
    border-radius: 0.5em ;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: var(--dop-color) ;

}
.menu{
    width: 100% ;
    height: 3.25rem ;
    font-size: 1.25em ;
    transition: 0.4s;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}
.menu:hover{
    background-color: var(--dop-bg-color);
    color: var(--dop-color);
    font-size: 1.2em;
}

.korz_app{
    min-width: 240px ;
    max-width: 375px ;
    margin: 30px 0;
    min-height: 6em ;
    border-radius: 0.5em ;
    display: flex ;
    align-items: center ;
    flex-direction: column ;
    color: var(--dop-color-rgba);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: var(--dop-bg-color);
}
.korz{
    width: 100% ;
    font-size: 1.2em;
    display: flex ;
    align-items: center ;
}
.korz_header{
    width: 100% ;
    min-height: 75px ;
    color: var(--dop-color);
    font-size: 2.4em;
    background-color: var(--dop-bg-color-darck);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex ;
    align-items: center ;
    justify-content: center ;
}
.korz_header_svg{
    width:60px;
    height:60px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.korz_info{
    width: 210px ;
    height: 35px ;
    font-size: 1em;
    font-weight: var(--main-text-weight);
    display: flex ;
    align-items: center ;
    justify-content: space-between ;
    border-bottom: 3px solid var(--dop-bg-color-darck);
}
.korz_itog{
    width: 100% ;
    height: 60px;
    font-size: 1.2em ;
    font-weight: var(--main-text-weight);
    display: flex ;
    align-items: center ;
    justify-content: center;
}
#korz_buy{
    width: 170px ;
    height: 2.2rem ;
    margin-bottom: 1em ;
    border-radius: 0.4em ;
    font-size: 1.1em ;
    transition: 0.5s;
    background-color: rgb(128,128,128);
    color: var(--dop-color);
}
#korz_buy:hover{
    background-color: var(--dop-color);
    color: var(--dop-color-rgba);
}
button{
    font-weight: bold;
    cursor: pointer ;
    border: none ;
}


#right{
    margin-left: 20px ;
    min-width: 270 ;
    width: calc(100%-255px) ;
    height: auto ;
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-around ;
}
.tovar{
    margin-left: 7px ;
    margin-right: 7px ;
    margin-bottom: 30px;
    width: 220px ;
    min-height: 450px ;
    height: min-content ;
    display: flex ;
    align-items: center;
    flex-direction: column ;
    color: var(--dop-color-rgba);
}
.logo{
    width: 215px ;
    height: 150px ;
    margin-top: -50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/img/SubWay.png);
    background-repeat:no-repeat;
}
.prezent{
    width: 170px ;
    height: 170px ;
    margin-top: -45px ;
    background-color: var(--dop-color);
    border: 10px rgb(214,201,15) solid;
    border-radius: 100px;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}
.prezent_img{
    object-fit: contain;
    height: 100px ;

}
.tipe_prezent{
    width: 230px ;
    height: 30px ;
    text-align: center ;
    padding-bottom: 10px ;
    margin-top: 10px ;
    font-weight: 600;
    font-size: 1.4em;
}
.prezent_vabor{
    width: 90% ;
    height: 55px ;
    text-align: center ;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}
#vabor{
    font-size: 0.9em ;
    line-height: 20px ;
    margin: 5px 0 ;
    color: rgb(73,142,200);
    font-weight: 600;
    text-decoration:underline;
    cursor: pointer ;
}
.prise{
    margin-top: 7.5px ;
    font-size: 1.2em;
    color: rgb(218,110,79);
    font-weight: var(--main-text-weight);
}
.quantity{
    width: 90% ;
    font-size: 1em;
    margin-top: 5px ;
    align-items: center ;
    font-weight: 600 ;
    display: flex;
    align-items: center ;
    justify-content: center ;
    flex-direction: column ;
}
.quantity button{
    font-family: Arial;
}
.quantity_but{
    display: flex ;
    align-items: center;
    justify-content: center ;
}

.quantity input[type="number"]{
    cursor: pointer;
    background-color: var(--dop-color);
    border: none;
    width: 45px ;
    height: 22.5px ;
    margin: 2px 15px ;
    text-align: center ;
    border-radius: 5px ;
    box-shadow: 0 0 3px rgba(0 ,0 ,0 ,0.2);
}
.switches{
    width: 20px ;
    height: 20px ;
    border-radius: 20px ;
    background-color: var(--dop-color) ;
    text-align: center ;
    color: var(--main-bg-color) ;
    font-size: 20px ;
    transition: 0.25s;
    box-shadow: 0 0 3px rgba(0 ,0 ,0 ,0.4);
}

.tovar button.add{
    color: var(--dop-color);
    background-color: var(--dop-bg-color-darck);
    border: none;
    border-bottom: 2px solid rgb(129,112,46);
    border-radius: 0.25em ;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    margin-top: 10px ;
    margin-bottom: 10px ;
    font-size: 1em ;
    height: 32.5px ;
    width: 60% ;
    transition: 0.5s;
}
.tovar button:hover{
    color: var(--main-color);
}

input[type="number"] {
	appearance: textfield;
}

.raz {
    all: unset;
    -moz-appearance: textfield;
    font-size: 0.8em;
    text-align: center;
  }
.raz::-webkit-inner-spin-button { 
    display: none ;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}