#Title_cards{
    width: 100% ;
    max-height: 100% ;
    display: flex ;
    align-items: center ;
    flex-direction: column ;
    overflow-y: scroll ;
    overflow-anchor: auto;
}

.CheckoutTovarAll{
    width: 90% ;
    padding: 5px 0 5px 0;
    display: flex; justify-content: space-between; align-items: center;
    border-bottom: var(--border-orange);
    pointer-events: none;
}

.BasketTovarPlusMinus{
    height: 50% ; width: 100% ;
    cursor: pointer; pointer-events: all;
}

.CheckoutTovarName{
    width: 80% ;
    text-align: center ;
    user-select: none; pointer-events: none;
}

.CheckoutAmount{
    text-align: end ;
    width: 5% ;
    user-select: none; pointer-events: none;
}
