@font-face {
    font-family: 'Roboto';
    src: url(/ttf/Roboto.ttf);
}

:root {
    --main-bg-color: rgb(236, 234, 233);
    --main-color: rgb(68, 68, 68);
    --main-color-hover: rgb(0, 154, 61);
    --main-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    --color-white: rgb(255, 255, 255);
    --border-orange: 3px solid rgb(244, 178, 0);
    --color-orange: rgb(244,178,0) ;
    --color-red: rgb(217,103,70);
}

body {
    color: var(--main-color); font-family: 'Roboto'; font-size: 20px; font-weight: 600;
    background-color: var(--main-bg-color);
    margin: 0; padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%; min-height: 100px;
    margin-bottom: 7.5px;
    font-size: 1.9em;
    display: flex ; align-items: center ; text-align: center ; justify-content: center ;
}

section {
    width: 100%;
    display: flex; 
}

#Left{
    min-width: 240px; width: 10% ;
    margin-left: 18.5px;
}

.Basket {
    min-width: 100%;
    height: auto;
    border-radius: 2.5px;
    box-shadow: var(--main-shadow);
    background-color: rgb(246, 216, 70);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.BasketHeader {
    min-width: 100%;
    height: 75px;
    color: var(--color-white);
    background-color: rgb(245, 195, 0);
    display: flex;
}
.BasketHeaderSvg {
    width: 75px ; height: 75px ;
    display: flex ; align-items: center ; justify-content: center ;
}
.BasketHeaderName {
    min-width: 165px; height: 75px;
    font-size: 1.8em;
    padding-left: 5px;
    display: flex; align-items: center;
}

.BasketDivision {
    min-width: 220px; height: 36.5px;
    font-size: 0.8em;
    display: flex; align-items: center; justify-content: space-around;
    border-bottom: var(--border-orange);
}
#BusketTovar{
    min-width: 100% ; max-height: 183px ;
    overflow-y: scroll ; overflow-anchor: auto;
    display: flex ; align-items: center ; flex-direction: column ;
    font-size: 0.8em ;
    pointer-events: none; user-select: none ;
}
#BusketTovar::-webkit-scrollbar {
    width: 10px ; height: 100% ;
    margin: 0 ; padding: 0 ;
}
#BusketTovar::-webkit-scrollbar-thumb{
    background-color: var(--color-orange);
}
.BasketTotal {
    height: 57px;
    font-size: 0.9em;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Subtotal {
    width: 100%; height: 60px;
    display: flex; justify-content: center;
}
.Subtotal button {
    width: 167px; height: 32px;
    color: var(--color-white); font-weight: 750; font-size: 0.7em;
    background-color: rgb(128, 128, 128);
    border: none; border-radius: 3px; border-bottom: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
}
.Subtotal button:hover {
    background-color: var(--main-color-hover);
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
}

#Right{
    min-width: 230px; width: 90% ;
    display: flex ; flex-wrap: wrap;
}

#Cards{
    width: 100% ; height: 100% ;
    display: flex ; justify-content: center ; flex-wrap: wrap;
}

::-webkit-scrollbar {
    margin: 0 ;
    padding: 0 ;
    width: 10px ;
    height: 100% ;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-orange);
}
::-webkit-scrollbar-thumb:active{
    background-color: white ;
    cursor: pointer ;
}